<br>
<div class="container">
    <div class="float-parent-element">
        <div class="container float-child-element">
            <div>
                <h3>Your booking</h3>
                Floor: {{floor}} <br>
                Address: {{adrress}} <br>
                City: {{city}} <br>
                Date: {{date}} <br>
            </div>
            <br>
            <!--<div class="from-group">
        <label>Sillas:
            <select name="silla" [(ngModel)]="selectedSeat">
                <option [value]="seat.seatNumber" *ngFor="let seat of seats">{{seat.seatNumber}}</option>
            </select>
        </label>
    </div>-->
            <div class="from-group">
                <label>Seat:</label>
                <div class="floors-container d-flex flex-wrap">
                    <div *ngFor="let seat of seats; let i = index" class="floor-box"
                        (click)="onSelectSeat(seat.seatNumber)">
                        <input type="radio" [value]="seat.seatNumber" [(ngModel)]="selectedSeat"
                            id="seat-{{seat.seatNumber}}">
                        <label for="seat-{{seat.seatNumber}}">Seat {{seat.seatNumber}}</label>
                        <div class="w-100" *ngIf="(i + 1) % 4 === 0"></div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="container">
                <!--<a href=''><button type="button" class="btn btn-success" (click)="crearReserva()">Create</button></a>-->
                <a [href]="Selected ? '' : null">
                    <button *ngIf="selectedSeat" type="button" class="btn btn-success" [disabled]="!selectedSeat"
                        (click)="validateAndSave()">Select</button> </a>
                <a routerLink=".."><button type="button" class="btn btn-success"
                        style="margin-left: 10px;">Cancel</button></a>
            </div>
        </div>

        <div class="float-child-element">
            <h5>You can see our floor plan here</h5>
            <div class="yellow">
                <img src="/assets/img/plano.png" width="400" height="400">
            </div>
        </div>
    </div>
</div>