/*para cajas*/
.floors-container {
    display: flex;
  }
  
  .floor-box {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid gray;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    width: 80px;
    height: 80px;
  }
  
  input[type="radio"]{
    display: none;
  }
  
  .floor-box input:checked + label {
    background-color: teal; /* color de fondo al seleccionar */
    color: white; /* color del texto al seleccionar */
    
  }
  .disabled-button {
    background-color: gray;
    pointer-events: none;
  }
  .float-parent-element { 
    width: 100%; 
} 
.float-child-element { 
    float: left; 
    width: 50%; 
}