/*olek*/
.col-3{
    background-color: white;
    border-style: solid;
    height: 100px ;
   
}

/*Añadir cajas*/
.reservation-box {
    margin: 10px 20px;
}

[class="form-check d-flex justify-content-center"]{
    padding-top: 20px;
}


.dropdown-menu li {
position: relative;
}
.dropdown-menu .dropdown-submenu {
display: none;
position: absolute;
left: 100%;
top: -8px;
}

.dropdown-menu > li:hover > .dropdown-submenu {
display: block;
}

.float-parent-element { 
    width: 100%; 
} 
.float-child-element { 
    float: left; 
    width: 50%; 
} 
.red {  
    margin-left: 10%; 
    height: 250px; 
    width: 350px;
} 
.yellow { 
    margin-left: 40%; 
    height: 250px; 
}
.modal.show {
    display: block;
}